* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #9e9e9e;
}

a:hover, strong {
	color: #462c1c;
	-webkit-transition: color 0.25s ease-out;
     -moz-transition: color 0.25s ease-out;
          transition: color 0.25s ease-out;
}

body {
	display: flex;
	background-color: #f2f2f2;
	font-family: monospace;
	color: #9e9e9e;
}

body main {
	flex: 1;
	max-width: 250px;
	padding: 20px 20px 0 20px;
  border-left: 2px solid white;
	align-self:start;
  margin: 20vh 0 20vh 33vw;
}

body main ul, span.back {
	list-style-type: none;
	margin-bottom: 40px;
}

body main ul:last-child {
	margin-bottom: 0;
}

ul li, p {
	margin-bottom: 20px;
}

span.back {
	display: block;
}



/* left sidebar images */
body main::before {
	position: fixed;
	right: 67vw;
	margin-right: 20px;
}
body main::before { content: url(/images/jim.jpg); }
body main#setup::before { content: url(/images/pvm.gif); }
body main#goof-resources::before { content: url(/images/goof.png); }
body main#tanx-resources::before { content: url(/images/gryphon.png); }

/* just having a */
#goof {
	position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
}

/* desktop fixes */
@media screen and (min-width: 600px) {
	body main::before { right: 50vw; }
	body main { margin-left: 50vw; }
}
